@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-container{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.metro-img{
    max-width: 45%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    align-self: center;
    padding-top: 20px;
}

.info-box{
    width: 300px;
    margin-top: 10px;
    padding: 20px;
    font-family: "Itim", cursive;
    font-size: 22px;
    font-weight: 550;
    color: white;
    background-color: grey;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.metro-logo{
    padding: 10px;
    min-width: 50%;
}

/* .metro-train{
    width: 300px;
    text-align: center;
} */

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tracker-text{
    font-family: "DM Sans", sans-serif;
    font-size: 3.12rem;
    color: #888683;
    font-weight: 700;
}

.logo-text{
    font-family: "DM Sans", sans-serif;
    font-size: 3.12rem;
    color: #bc0d12;
    font-weight: 700;
}

.balance-text{
    color: #424140;
}

.sub-btn{
    background-color: red;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "SUSE", sans-serif;
}

.sub-btn:hover {
  background-color: #cc0000;
}

.remove-btn{
    display: none;
    background-color: red;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "SUSE", sans-serif;
}

.remove-btn:hover{
    background-color: #cc0000;
}

.sub-bal{
    display: none;
}

.show-btn{
    background-color: red;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "SUSE", sans-serif;
}

.show-btn:hover{
    background-color: #cc0000;
}

p{
    width: 300px;
    margin-top: 10px;
    padding: 20px;
    font-family: "New Amsterdam", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: green;
    text-align: center;
    border: 2px solid green;
    border-radius: 15px;
}

.submit{
    border: 2px solid red;
    background-color: inherit;
    color: red;
    border-radius: 5px;
    font-family: "SUSE", sans-serif;
    font-weight: 600;
    transition-duration: 100ms;
    cursor: pointer;
}

.submit:hover{
    scale: 1.08;
}

.submit:active{
    background-color: red;
    color: white;
}

.submit-bal{
    border: 2px solid red;
    background-color: inherit;
    color: red;
    border-radius: 5px;
    font-family: "SUSE", sans-serif;
    font-weight: 600;
    transition-duration: 100ms;
    cursor: pointer;
}

.submit-bal:hover{
    scale: 1.08;
}

.submit-bal:active{
    background-color: red;
    color: white;
}

.bal-control{
    display: flex;
    gap: 40px;
    margin-top: 24px;
}

.bal-btn{
    display: none;
    border: 2px solid red;
    background-color: inherit;
    color: red;
    border-radius: 5px;
    font-family: "SUSE", sans-serif;
    font-weight: 600;
    transition-duration: 100ms;
    cursor: pointer;
}

.bal-btn:hover{
    scale: 1.08;
}

.bal-btn:active{
    background-color: red;
    color: white;
}